body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* height: 100vh; */
    font-family: 'Montserrat', sans-serif;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.myRow {
    height: 95vh;    
}

.card{
    background-color: rgba(0,0,0,.0);
    
}

.card-header{
    background-color: rgba(255, 255, 255, 0.5);

}

.card-body {
    background-color: rgba(238, 238, 238, 0.9);
    min-height: 19rem;
}

.card-body:last-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: calc(0.85rem - 1px);
    border-bottom-left-radius: calc(0.85rem - 1px);
}

.card-title{
    font-size: 24px;

}

.card-title-2{
  font-size: 30px;
  color: #fff;
}

.smallText{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

.designed{
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    /* padding: 10px 25px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 1px 1px 1px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }


/* 11 */
.btn-11 {
    border: none;
    width: 200px;

    background: rgb(251,33,117);
      background: linear-gradient(315deg, #1fd1f9 -30%, #b621fe 104%);
      color: #fff;
      overflow: hidden;
      font-size: 16px;
  }
  .btn-11:hover {
      text-decoration: none;
      color: #fff;
  }
  .btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 9s ease-in-out infinite;
  }
  .btn-11:hover{
    opacity: .7;
  }
  .btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  
  @keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      20% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.2; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 0.7; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }

  

/* 16 */
.btn-16 {
    border: none;
    color: rgb(58, 58, 58);
    font-weight: 300;
    font-size: 14px;
  background-color: #fff ;
    opacity: 0.9;
    width: 100%;
    text-align: center;
  
    text-decoration: none;
  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     0px 0px 20px 0px #fff9,
     0px 0px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: 0.3s ease;
  }
  .btn-16:hover {
    color: #000;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }